In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
df = pd.read_csv('movie_bd_v5.csv')
df.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
826,tt1692486,25000000,27603069,Carnage,Kate Winslet|Jodie Foster|Christoph Waltz|John...,Roman Polanski,A new comedy of no manners,"In Brooklyn Bridge Park, eleven-year-old Zacha...",80,Comedy|Drama,Wild Bunch|Zanagar Films|Canal+|Constantin Fil...,9/16/2011,6.9,2011
941,tt0300532,25000000,51842679,Blue Crush,Kate Bosworth|Matthew Davis|Michelle Rodriguez...,John Stockwell,"Three Friends, One Passion, No Limits.",Nothing gets between Anne Marie and her board....,104,Adventure,Imagine Entertainment|Mikona Productions GmbH ...,8/8/2002,5.6,2002
1438,tt0462590,12000000,114194847,Step Up,Channing Tatum|Jenna Dewan|Damaine Radcliff|De...,Anne Fletcher,Every Second Chance Begins With a First Step,Everyone deserves a chance to follow their dre...,104,Music|Drama|Romance|Crime,Summit Entertainment|Offspring Entertainment|T...,8/11/2006,6.7,2006
1475,tt0397078,28000000,38159905,Just My Luck,Lindsay Lohan|Samaire Armstrong|Chris Pine|Mis...,Donald Petrie,Everything changed in the wink of an eye.,Manhattanite Ashley is known to many as the lu...,103,Comedy|Drama|Family|Fantasy|Romance,Regency Enterprises|Cheyenne Enterprises|New R...,5/12/2006,5.7,2006
1726,tt0427327,50000000,90450008,Hairspray,John Travolta|Michelle Pfeiffer|Christopher Wa...,Adam Shankman,"When you follow your own beat, the world will ...","Pleasantly plump teenager, Tracy Turnblad and ...",117,Comedy|Music|Romance,New Line Cinema,7/13/2007,6.4,2007

In [3]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
answer_auto = {} # а также создадим словарь, который будет формироваться автоматически)))

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# создаем столбец прибыль
df['profit'] = 0
for i in range(len(df)):
    df.loc[i, 'profit'] = df.loc[i, 'revenue'] - df.loc[i, 'budget']
    
# создаем столбец с приведенной датой к удобному виду
df['date'] = pd.to_datetime(df["release_date"])

# создаем словарь месяцев
month = {1: 'Январь',
         2: 'Февраль',
         3: 'Март',
         4: 'Апрель',
         5: 'Май',
         6: 'Июнь',
         7: 'Июль',
         8: 'Август',
         9: 'Сентябрь',
         10: 'Октябрь',
         11: 'Ноябрь',
         12: 'Декабрь'}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
# выбираем строку с максимальным значением в столбце бюджет и берем название фильма
answer1 = df[df.budget ==df.budget.max()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer1 = answer1 + ' ' + '(' + df[df.budget ==df.budget.max()]['imdb_id'].iloc[0] + ')'
ss1 = ['The Dark Knight Rises (tt1345836)',     # создаем список ответов
     'Spider-Man 3 (tt0413300)',
     'Avengers: Age of Ultron (tt2395427)',
     'The Warrior\'s Way (tt1032751)',
     'Pirates of the Caribbean: On Stranger Tides (tt1298650)']
if str(answer1) in ss1:                          # проверяем ответ  
    answer_auto['1'] = str(ss1.index(answer1)+1) + '. ' + answer1  # заполняем словарь по шаблону
answer_auto['1']

'5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #"+"

In [9]:
# мой код для решения данного вопроса:
# выбираем строку с максимальным значением в столбце длительность и берем название фильма
answer2 = df[df.runtime ==df.runtime.max()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer2 = answer2 + ' ' + '(' + df[df.runtime == df.runtime.max()]['imdb_id'].iloc[0] + ')'
ss2 = ['The Lord of the Rings: The Return of the King (tt0167260)',  # создаем список ответов
     'Gods and Generals (tt0279111)',
     'King Kong (tt0360717)',
     'Pearl Harbor (tt0213149)',
     'Alexander (tt0346491)']
if answer2 in ss2:                                             # проверяем ответ  
    answer_auto['2'] = str(ss2.index(answer2)+1) + '. ' + answer2   # заполняем словарь по шаблону
answer_auto['2']

'2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #"+"

In [11]:
# мой код для решения данного вопроса:
# выбираем строку с минимальным значением в столбце длительность и берем название фильма
answer3 = df[df.runtime == df.runtime.min()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer3 = answer3 + ' ' + '(' + df[df.runtime == df.runtime.min()]['imdb_id'].iloc[0] + ')'
ss3 = ['Home on the Range (tt0299172)',   # создаем список ответов
       'The Jungle Book 2 (tt0283426)',
       'Winnie the Pooh (tt1449283)',
       'Corpse Bride (tt0121164)',
       'Hoodwinked! (tt0443536)']
if answer3 in ss3:                                                 # проверяем ответ  
    answer_auto['3'] = str(ss3.index(answer3)+1) + '. ' + answer3       # заполняем словарь по шаблону
answer_auto['3']

'3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110' #"+"

In [13]:
# мой код для решения данного вопроса:
# находим среднее значение колонки длительность, округляем, делаем строкой
answer4 = str(int(round(df.runtime.mean(),0)))
ss4 = ['115',           # создаем список ответов
      '110',
      '105',
      '120',
      '100']
if answer4 in ss4:      # проверяем ответ  
    answer_auto['4'] = str(ss4.index(answer4)+1) + '. ' + answer4  # заполняем словарь по шаблону
answer_auto['4']

'2. 110'

ВАРИАНТ 2

In [14]:
# мой код для решения данного вопроса:
# используем таблицу статистики, берем среднее значения для длительности
int(round(df.describe().loc['mean', 'runtime'], 0))

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107' #"+"

In [16]:
# мой код для решения данного вопроса:
# находим медианное значение колонки длительность, делаем строкой
answer5 = str(int(df.runtime.median()))
ss5 = ['107',         # создаем список ответов
       '112',
       '101',
       '120',
       '115']
if answer5 in ss5:    # проверяем ответ 
    answer_auto['5'] = str(ss5.index(answer5)+1) + '. ' + answer5  # заполняем словарь по шаблону
answer_auto['5']

'1. 107'

ВАРИАНТ 2

In [17]:
# мой код для решения данного вопроса:
# используем таблицу статистики, берем медианное значения для длительности
int(df.describe().loc['50%', 'runtime'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [18]:
answers['6'] = '5. Avatar (tt0499549)' #"+"

In [19]:
# мой код для решения данного вопроса:
# находим в колонке прибыль строку с максимальным значением и берем название фильма
answer6 = df[df.profit == df.profit.max()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer6 = answer6 + ' ' + '(' + df[df.profit == df.profit.max()]['imdb_id'].iloc[0] + ')'
ss6 = ['The Avengers (tt0848228)',                                   # создаем список ответов
        'Minions (tt2293640)',
        'Star Wars: The Force Awakens (tt2488496)',
        'Furious 7 (tt2820852)',
        'Avatar (tt0499549)']
if answer6 in ss6:                                                   # проверяем ответ 
    answer_auto['6'] = str(ss6.index(answer6)+1) + '. ' + answer6    # заполняем словарь по шаблону
answer_auto['6']

'5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #"+"

In [21]:
# мой код для решения данного вопроса:
# находим в колонке прибыль строку с максимальным значением и берем название фильма
answer7 = df[df.profit == df.profit.min()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer7 = answer7 + ' ' + '(' + df[df.profit == df.profit.min()]['imdb_id'].iloc[0] + ')'
ss7 = ['Supernova (tt0134983)',                                         # создаем список ответов
        'Frozen (tt2294629)',
        'Flushed Away (tt0424095)',
        'The Adventures of Pluto Nash (tt0180052)',
        'The Lone Ranger (tt1210819)']
if answer7 in ss7:                                                       # проверяем ответ 
    answer_auto['7'] = str(ss7.index(answer7)+1) + '. ' + answer7        # заполняем словарь по шаблону
answer_auto['7']

'5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478' #"+"

In [23]:
# мой код для решения данного вопроса:
# сортируем таблицу, чтобы сборы были больше бюджета, считаем количество фильмов
answer8 = str(df[df.revenue > df.budget].count()['original_title'])
ss8 = ['1478',  # создаем список ответов
        '1520',
        '1241',
        '1135',
        '1398']
if answer8 in ss8:  # проверяем ответ 
    answer_auto['8'] = str(ss8.index(answer8)+1) + '. ' + answer8 # заполняем словарь по шаблону
answer_auto['8']

'1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)' #"+"

In [25]:
# мой код для решения данного вопроса:
# сортируем таблицу по году выпуска
df1 = df[df.release_year == 2008]
# выбираем максимальный сбор и берем название фильма
answer9 = df1[df1.revenue == df1.revenue.max()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer9 = answer9 + ' ' + '(' + df1[df1.revenue == df1.revenue.max()]['imdb_id'].iloc[0] + ')'
ss9 = ['Madagascar: Escape 2 Africa (tt0479952)', # создаем список ответов
        'Iron Man (tt0371746)',
        'Kung Fu Panda (tt0441773)',
        'The Dark Knight (tt0468569)',
        'Mamma Mia! (tt0795421)']
if answer9 in ss9: # проверяем ответ 
    answer_auto['9'] = str(ss9.index(answer9)+1) + '. ' + answer9 # заполняем словарь по шаблону
answer_auto['9']

'4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #"+"

In [27]:
# мой код для решения данного вопроса:
# сортируем таблицу по годам выпуска
df2 = df[(df.release_year >= 2012) & (df.release_year <= 2014)]
# выбираем минимальную прибыль и берем название фильма
answer10 = df2[df2.profit == df2.profit.min()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer10 = answer10 + ' ' + '(' + df2[df2.profit == df2.profit.min()]['imdb_id'].iloc[0] + ')'
ss10 = ['Winter\'s Tale (tt1837709)', # создаем список ответов
        'Stolen (tt1656186)',
        'Broken City (tt1235522)',
        'Upside Down (tt1374992)',
        'The Lone Ranger (tt1210819)']
if answer10 in ss10:   # проверяем ответ 
    answer_auto['10'] = str(ss10.index(answer10)+1) + '. ' + answer10  # заполняем словарь по шаблону
answer_auto['10']

'5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [28]:
answers['11'] = '3. Drama' #"+"

In [29]:
# мой код для решения данного вопроса:
# разбиваем строки колонки жанр на отдельные строки для каждого жанра, считаем их количество и берем максимальное
answer11 = df.genres.str.split('|').explode().value_counts().index[0]
ss11 = ['Action',  # создаем список ответов
        'Adventure',
        'Drama',
        'Comedy',
        'Thriller']
if answer11 in ss11:  # проверяем ответ 
    answer_auto['11'] = str(ss11.index(answer11)+1) + '. ' + answer11  # заполняем словарь по шаблону
answer_auto['11']

'3. Drama'

ВАРИАНТ 2

In [67]:
# мой код для решения данного вопроса:
# генератором списков создаем список жанров, считаем количество, берем максимальное, выводим назавание жанра
Counter([unit for string in df.genres for unit in string.split('|')]).most_common(1)[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama' #"+"

In [31]:
# мой код для решения данного вопроса:
# сортируем таблицу по колонке прибыль
# разбиваем строки колонки жанр на отдельные строки для каждого жанра, считаем их количество и берем максимальное
answer12 = df[df.profit > 0]['genres'].str.split('|').explode().value_counts().index[0]
ss12 = ['Drama',  # создаем список ответов
        'Comedy',
        'Action',
        'Thriller',
        'Adventure']
if answer12 in ss12:  # проверяем ответ 
    answer_auto['12'] = str(ss12.index(answer12)+1) + '. ' + answer12  # заполняем словарь по шаблону
answer_auto['12']

'1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = '5. Peter Jackson' #"+"

In [33]:
# мой код для решения данного вопроса:
# группируем таблицу по режиссерам и сборам, суммируем сборы, сортируем по сборам на убывание, берем макисмальное значение
answer13 = df.groupby(['director'])[['revenue']].sum().sort_values(['revenue'], ascending = False).index[0]
ss13 = ['Steven Spielberg',  # создаем список ответов
        'Christopher Nolan',
        'David Yates',
        'James Cameron',
        'Peter Jackson']
if answer13 in ss13:  # проверяем ответ 
    answer_auto['13'] = str(ss13.index(answer13)+1) + '. ' + answer13  # заполняем словарь по шаблону
answer_auto['13']

'5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = '3. Robert Rodriguez' #"+"

In [35]:
# мой код для решения данного вопроса:
# сортируем таблицу по наличию в жанре, разбиваем режиссеров по строкам, подсчитываем количество, берем максимальное
answer14 = df[df.genres.str.contains('Action')].director.str.split('|').explode().value_counts().index[0]
ss14 = ['Ridley Scott',  # создаем список ответов
        'Guy Ritchie',
        'Robert Rodriguez',
        'Quentin Tarantino',
        'Tony Scott']
if answer14 in ss14:  # проверяем ответ 
    answer_auto['14'] = str(ss14.index(answer14)+1) + '. ' + answer14  # заполняем словарь по шаблону
answer_auto['14']

'3. Robert Rodriguez'

ВАРИАНТ 2

In [68]:
# мой код для решения данного вопроса:
# генератором списков создаем список режисеров из отсортированного по жанру ДФ 
# считаем количество, берем максимальное, выводим имя режисера
Counter([a for string in df[df.genres.str.contains('Action')].director for a in string.split('|')]).most_common(1)[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '3. Chris Hemsworth' #"+"

In [37]:
# мой код для решения данного вопроса:
# сортируем таблицу по году выпуска
df4 = df[df['release_year'] == 2012].copy()
# разделяем строку актеров 
df4.cast = df4.cast.str.split('|')
# разбиваем актеров по строкам
df4 = df4.explode('cast')
# группируем по актерам и сборам, считаем сумму сбора и сортируем по убыванию, берем максимальную
answer15 = df4.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0]
ss15 = ['Nicolas Cage',  # создаем список ответов
        'Tom Hardy',
        'Chris Hemsworth',
        'Jim Sturgess',
        'Emma Stone']
if answer15 in ss15:  # проверяем ответ 
    answer_auto['15'] = str(ss15.index(answer15)+1) + '. ' + answer15  # заполняем словарь по шаблону
answer_auto['15']

'3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '3. Matt Damon' #"+"

In [39]:
# мой код для решения данного вопроса:
# сортируем таблицу по бюджету
df5 = df[df.budget > df.budget.mean()].copy()
# разбиваем актеров по строкам, считаем количество, выбираем максимальное
answer16 = df5.cast.str.split('|').explode().value_counts().index[0]
ss16 = ['Tom Cruise',  # создаем список ответов
        'Mark Wahlberg',
        'Matt Damon',
        'Angelina Jolie',
        'Adam Sandler']
if answer16 in ss16:  # проверяем ответ 
    answer_auto['16'] = str(ss16.index(answer16)+1) + '. ' + answer16  # заполняем словарь по шаблону
answer_auto['16']

'3. Matt Damon'

ВАРИАНТ 2

In [40]:
pd.Series(df[df.budget > df.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

ВАРИАНТ 3

In [69]:
# мой код для решения данного вопроса:
# генератором списков создаем список актеров из отсортированного по бюджету ДФ 
# считаем количество, берем максимальное, выводим имя актера
Counter([b for string in df[df.budget > df.budget.mean()].cast for b in string.split('|')]).most_common(1)[0][0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = '2. Action' #"+"

In [42]:
# мой код для решения данного вопроса:
# сортируем таблицу по актеру, разбиваем жанры по строкам, считаем количество, берем максимальное
answer17 = df[df.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]
ss17 = ['Drama',  # создаем список ответов
        'Action',
        'Thriller',
        'Adventure',
        'Crime']
if answer17 in ss17:  # проверяем ответ 
    answer_auto['17'] = str(ss17.index(answer17)+1) + '. ' + answer17  # заполняем словарь по шаблону
answer_auto['17']

'2. Action'

ВАРИАНТ 2

In [70]:
# мой код для решения данного вопроса:
# генератором списков создаем список жанров из отсортированного по актеру ДФ 
# считаем количество, берем максимальное, выводим название жанра
Counter([с for string in df[df.cast.str.contains('Nicolas Cage')].genres for с in string.split('|')]).most_common(1)[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #"+"

In [44]:
# мой код для решения данного вопроса:
# сортируем таблицу по компании
df11 = df[df.production_companies.str.contains('Paramount Pictures')]
# сортируем таблицу по минимальной прибыли, берем назавание
answer18 = df11[df11.profit == df11.profit.min()]['original_title'].iloc[0]
# добавляем к названию фильма его индедификатор в скобках
answer18 = answer18 + ' ' + '(' + df11[df11.profit == df11.profit.min()]['imdb_id'].iloc[0] + ')'
ss18 = ['K-19: The Widowmaker (tt0267626)',  # создаем список ответов
        'Next (tt0435705)',
        'Twisted (tt0315297)',
        'The Love Guru (tt0811138)',
        'The Fighter (tt0964517)']
if answer18 in ss18: # проверяем ответ 
    answer_auto['18'] = str(ss18.index(answer18)+1) + '. ' + answer18  # заполняем словарь по шаблону
answer_auto['18']

'1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '5. 2015' #"+"

In [46]:
# мой код для решения данного вопроса:
# группируем по году и сборам, суммируем сборы и сортируем по убыванию, берем максимальное
answer19 = str(df.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'], ascending = False).index[0])
ss19 = ['2014',  # создаем список ответов
        '2008',
        '2012',
        '2002',
        '2015']
if answer19 in ss19:  # проверяем ответ 
    answer_auto['19'] = str(ss19.index(answer19)+1) + '. ' + answer19  # заполняем словарь по шаблону
answer_auto['19']

'5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '1. 2014' #"+"

In [48]:
# мой код для решения данного вопроса:
# оставляем в таблице интересующую нас компанию
df13 = df[df.production_companies.str.contains('Warner Bros')]
# группируем по году и прибыли, суммируем прибыль и сортируем по убыванию, берем максимальную
answer20 = str(df13.groupby(['release_year'])[['profit']].sum().sort_values(['profit'], ascending = False).index[0])
ss20 = ['2014',  # создаем список ответов
        '2008',
        '2012',
        '2010',
        '2015']
if answer20 in ss20:  # проверяем ответ 
    answer_auto['20'] = str(ss20.index(answer20)+1) + '. ' + answer20  # заполняем словарь по шаблону
answer_auto['20']

'1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '4. Сентябрь' #"+"

In [50]:
# мой код для решения данного вопроса:
df14 = df.copy()
for i in range(len(df)): # создаем колонку с месяцами
    df14.loc[i,'Month'] = df.loc[i, 'date'].month
# считаем количество месяцев и берем максимальное значение, используем словарь месяцев
answer21 = month[int(df14.Month.value_counts().index[0])]
ss21 = ['Январь',  # создаем список ответов
        'Июнь',
        'Декабрь',
        'Сентябрь',
        'Май']
if answer21 in ss21:  # проверяем ответ 
    answer_auto['21'] = str(ss21.index(answer21)+1) + '. ' + answer21  # заполняем словарь по шаблону
answer_auto['21']

'4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '2. 450' #"+"

In [52]:
# мой код для решения данного вопроса:
df15 = df14[ (df14.Month >= 6) & (df14.Month <= 8)] # сортируем по летним месяцам
answer22 = str(len(df15)) # считаем количество строк
ss22 = ['345',  # создаем список ответов
        '450',
        '478',
        '523',
        '381']
if answer22 in ss22:  # проверяем ответ 
    answer_auto['22'] = str(ss22.index(answer22)+1) + '. ' + answer22  # заполняем словарь по шаблону
answer_auto['22']

'2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = '5. Peter Jackson' #"+"

In [54]:
# мой код для решения данного вопроса:
df16 = df14[(df14.Month == 12) | (df14.Month == 2) | (df14.Month == 1)]   # сортируем по зимним месяцам
# разбиваем строку режисеров по именам и строкам, подсчитываем и сортируем их количество, берем максимальное
answer23 = df16.director.str.split('|').explode().value_counts().index[0]
ss23 = ['Steven Soderbergh',  # создаем список ответов
        'Christopher Nolan',
        'Clint Eastwood',
        'Ridley Scott',
        'Peter Jackson']
if answer23 in ss23:  # проверяем ответ 
    answer_auto['23'] = str(ss23.index(answer23)+1) + '. ' + answer23  # заполняем словарь по шаблону
answer_auto['23']

'5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '5. Four By Two Productions' #"+"

In [56]:
# мой код для решения данного вопроса:
df101 = df.copy()
df101['len_name'] = df101.original_title.apply(lambda x: len(x))  # создаем колонку длин названий
df101.production_companies = df101.production_companies.str.split('|') # разбиваем строку компаний по именам
df101 = df101.explode('production_companies')                          # и создаем для каждой компании свою строку  
# группируем по компаниям и длинам названий, сортируем по длине по убыванию, берем максимальное значение
answer24 = df101.groupby(['production_companies'])[['len_name']].mean().sort_values(['len_name'], ascending = False).copy()
answer24 = answer24.index[0]
ss24 = ['Universal Pictures (Universal)',  # создаем список ответов
        'Warner Bros',
        'Jim Henson Company, The',
        'Paramount Pictures',
        'Four By Two Productions']
if answer24 in ss24:  # проверяем ответ 
    answer_auto['24'] = str(ss24.index(answer24)+1) + '. ' + answer24  # заполняем словарь по шаблону
answer_auto['24']

'5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. Midnight Picture Show' #"+"

In [58]:
# мой код для решения данного вопроса:
df200 = df.copy()
df200['len_overview'] = df200.overview.apply(lambda x: len(x.split())) # создаем колонку длин описаний
df200.production_companies = df200.production_companies.str.split('|') # разбиваем строку компаний по именам
df200 = df200.explode('production_companies')                          # и создаем для каждой компании свою строку 
# группируем по компаниям и длинам описаний, сортируем по длине по убыванию, берем максимальное значение
answer25 = df200.groupby(['production_companies'])[['len_overview']].mean().sort_values(['len_overview'], ascending = False)
answer25 = answer25.index[0]
ss25 = ['Universal Pictures', # создаем список ответов
        'Warner Bros',
        'Midnight Picture Show',
        'Paramount Pictures',
        'Total Entertainment']
if answer25 in ss25:  # проверяем ответ 
    answer_auto['25'] = str(ss25.index(answer25)+1) + '. ' + answer25  # заполняем словарь по шаблону
answer_auto['25']

'3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #"+"

In [60]:
# мой код для решения данного вопроса:
# создаем серию отсортированных по убыванию рейтингов
df20 = df.vote_average.sort_values(ascending=False)
# оставляем строки с рейтигнгом, с которого начинается последний процент рейтингов и сортируем по убыванию рейтинга
df22 = df[df.vote_average > df20.iloc[round(len(df20) / 100)]].sort_values(['vote_average'], ascending=False)
# оставляем в таблице колонки назание и рейтинг, т.к. мне так удобнее
df22 = df22[['original_title', 'vote_average']]
answer = [] # создаем список для формирования правильного ответа
answer26 = '' # правильный ответ
ss26 = [['Inside Out', 'The Dark Knight', '12 Years a Slave'], # создаем список ответов
      ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
      ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
      ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
      ['Upside Down', 'Inside Out', 'Iron Man']]
for i in ss26: # перебираем список ответов
    count = 0  # счетчик числа вхождений в ответ
    for j in i: # перебираем фильмы из списка ответов
        if j in list(df22.original_title): # проверяем вхождения фильмов из списка ответов в наш рейтинг
            count+=1
    if count == 3 or count == 2:
        answer.append(i) # формируем правильный ответ
for i in answer[0]: # из списка правильного ответа создаем строку с правильным ответом
    answer26 = answer26 + i +', '
answer_auto['26'] = str(ss26.index(answer[0])+1) + '. ' + answer26[:-2]  # заполняем словарь по шаблону
answer_auto['26']

'1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #"+"

In [62]:
# мой код для решения данного вопроса:
import itertools as it
answer27 = ''                                                  # это будет наш ответ
mov_acts_comb = []                                           # это комбинации пар
for cast in df.cast.str.split('|'):
    mov_acts_comb.extend(list(it.combinations(cast, 2)))     # составляем список пар актеров
mov_acts_pair = pd.Series(mov_acts_comb).value_counts()      # подсчитываем, сколько раз встречается каждая пара
mov_acts_pair = mov_acts_pair[mov_acts_pair == mov_acts_pair.max()]   # выбираем пары, которые встречаются чаще
mov_acts_pair = list(mov_acts_pair.index)         # из серии берем имена           
ss27 = ['Johnny Depp & Helena Bonham Carter',      # составляем список вариантов ответов
       'Ben Stiller & Owen Wilson',
       'Vin Diesel & Paul Walker',
       'Adam Sandler & Kevin James',
       'Daniel Radcliffe & Rupert Grint']
for i in mov_acts_pair:                           # выбираем правильный ответ
    for j in ss27:
        a3 = []
        a1 = j.split('&')
        for z in a1:
            a3.append(z.strip())
        a2 = list(i)
        if a3 == a2:
            answer27 = j
if answer27 in ss27:  # проверяем ответ 
    answer_auto['27'] = str(ss27.index(answer27)+1) + '. ' + answer27  # заполняем словарь по шаблону
answer_auto['27']

'5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [64]:
answer_auto

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [66]:
answers == answer_auto

True