In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50)  # показывать больше строк
pd.set_option('display.max_columns', 50)  # показывать больше колонок

In [38]:
df = pd.read_csv('g:\SkillFactory\EDA\stud_math.csv')

In [7]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,3.0,yes,no,NaN,no,yes,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,home,mother,1.0,3.0,0.0,no,yes,yes,yes,yes,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,home,father,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2.0,2.0,services,services,course,NaN,1.0,2.0,2.0,no,yes,yes,no,yes,-6.0,yes,no,no,5.0,5.0,4.0,4.0,212.0,45.0
391,MS,M,17,U,LE3,T,3.0,1.0,services,services,course,mother,2.0,1.0,0.0,no,no,no,no,no,-3.0,yes,yes,no,2.0,4.0,5.0,2.0,3.0,80.0
392,MS,M,21,R,GT3,T,1.0,1.0,other,other,course,NaN,1.0,1.0,3.0,NaN,no,no,no,no,-3.0,NaN,no,no,5.0,5.0,3.0,3.0,3.0,35.0
393,MS,M,18,R,LE3,T,3.0,2.0,services,other,course,mother,3.0,1.0,0.0,no,no,no,NaN,no,-3.0,yes,yes,no,4.0,4.0,1.0,5.0,0.0,50.0
394,MS,M,19,U,LE3,T,1.0,1.0,other,at_home,NaN,father,1.0,1.0,0.0,NaN,no,no,no,yes,-3.0,yes,yes,no,3.0,2.0,3.0,5.0,5.0,45.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   school               395 non-null    object
 1   sex                  395 non-null    object
 2   age                  395 non-null    int64
 3   address              378 non-null    object
 4   famsize              368 non-null    object
 5   Pstatus              350 non-null    object
 6   Medu                 392 non-null    float64
 7   Fedu                 371 non-null    float64
 8   Mjob                 376 non-null    object
 9   Fjob                 359 non-null    object
 10  reason               378 non-null    object
 11  guardian             364 non-null    object
 12  traveltime           367 non-null    float64
 13  studytime            388 non-null    float64
 14  failures             373 non-null    float64
 15  schoolsup            386 non-null    object
 16  famsup               356 non-null    object
 17  paid                 355 non-null    object
 18  activities           381 non-null    object
 19  nursery              379 non-null    object
 20  studytime, granular  388 non-null    float64
 21  higher               375 non-null    object
 22  internet             361 non-null    object
 23  romantic             364 non-null    object
 24  famrel               368 non-null    float64
 25  freetime             384 non-null    float64
 26  goout                387 non-null    float64
 27  health               380 non-null    float64
 28  absences             383 non-null    float64
 29  score                389 non-null    float64
dtypes: float64(12), int64(1), object(17)
memory usage: 92.7+ KB

Вариант 1

In [9]:
# функция вычисления перцентилей и выбросов
def q(s):
    IQR = s.quantile(0.75) - s.quantile(0.25)
    perc25 = s.quantile(0.25)
    perc75 = s.quantile(0.75)
    f = perc25 - 1.5*IQR
    l = perc75 + 1.5*IQR
    print(
        '25-й перцентиль: {},'.format(perc25),
        '75-й перцентиль: {},'.format(perc75),
        "IQR: {}, ".format(IQR),
        "Границы выбросов: [{}, {}].".format(f, l))
    return perc25, perc75, f, l

In [10]:
# функция для вывода уникальных элементов и количества пропусков по всей таблице
def inf(s):
    for col in s.columns:
        print(f'колонка {col}')
        print('value_counts')
        print(df[col].value_counts())
        print('value_counts в процентах')
        print(round(df[col].value_counts(normalize=1) * 100), 2)
        print('пропуски в процентах')
        print(round(((df[col].isna().sum() / len(df[col])) * 100), 1))
        print()

In [11]:
# функция расчета стаистических закономерностей
def get_stat_dif(column):
    cols = df.loc[:, column].value_counts().index[:10]
    combinations_all = list(combinations(cols, 2))
    for comb in combinations_all:
        if ttest_ind(df.loc[df.loc[:, column] == comb[0], 'score'], 
                        df.loc[df.loc[:, column] == comb[1], 'score']).pvalue \
            <= 0.05/len(combinations_all): # Учли поправку Бонферони
            print('Найдены статистически значимые различия для колонки', column)
            break

In [12]:
inf(df)

колонка school
value_counts
GP    349
MS     46
Name: school, dtype: int64
value_counts в процентах
GP    88.0
MS    12.0
Name: school, dtype: float64 2
пропуски в процентах
0.0

колонка sex
value_counts
F    208
M    187
Name: sex, dtype: int64
value_counts в процентах
F    53.0
M    47.0
Name: sex, dtype: float64 2
пропуски в процентах
0.0

колонка age
value_counts
16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: age, dtype: int64
value_counts в процентах
16    26.0
17    25.0
18    21.0
15    21.0
19     6.0
20     1.0
22     0.0
21     0.0
Name: age, dtype: float64 2
пропуски в процентах
0.0

колонка address
value_counts
U    295
R     83
Name: address, dtype: int64
value_counts в процентах
U    78.0
R    22.0
Name: address, dtype: float64 2
пропуски в процентах
4.3

колонка famsize
value_counts
GT3    261
LE3    107
Name: famsize, dtype: int64
value_counts в процентах
GT3    71.0
LE3    29.0
Name: famsize, dtype: float64 2
пропуски в процентах
6.8

колонка Pstatus
value_counts
T    314
A     36
Name: Pstatus, dtype: int64
value_counts в процентах
T    90.0
A    10.0
Name: Pstatus, dtype: float64 2
пропуски в процентах
11.4

колонка Medu
value_counts
4.0    131
2.0    102
3.0     97
1.0     59
0.0      3
Name: Medu, dtype: int64
value_counts в процентах
4.0    33.0
2.0    26.0
3.0    25.0
1.0    15.0
0.0     1.0
Name: Medu, dtype: float64 2
пропуски в процентах
0.8

колонка Fedu
value_counts
2.0     106
3.0      96
4.0      88
1.0      78
0.0       2
40.0      1
Name: Fedu, dtype: int64
value_counts в процентах
2.0     29.0
3.0     26.0
4.0     24.0
1.0     21.0
0.0      1.0
40.0     0.0
Name: Fedu, dtype: float64 2
пропуски в процентах
6.1

колонка Mjob
value_counts
other       133
services     98
at_home      58
teacher      55
health       32
Name: Mjob, dtype: int64
value_counts в процентах
other       35.0
services    26.0
at_home     15.0
teacher     15.0
health       9.0
Name: Mjob, dtype: float64 2
пропуски в процентах
4.8

колонка Fjob
value_counts
other       197
services    102
teacher      29
at_home      16
health       15
Name: Fjob, dtype: int64
value_counts в процентах
other       55.0
services    28.0
teacher      8.0
at_home      4.0
health       4.0
Name: Fjob, dtype: float64 2
пропуски в процентах
9.1

колонка reason
value_counts
course        137
home          104
reputation    103
other          34
Name: reason, dtype: int64
value_counts в процентах
course        36.0
home          28.0
reputation    27.0
other          9.0
Name: reason, dtype: float64 2
пропуски в процентах
4.3

колонка guardian
value_counts
mother    250
father     86
other      28
Name: guardian, dtype: int64
value_counts в процентах
mother    69.0
father    24.0
other      8.0
Name: guardian, dtype: float64 2
пропуски в процентах
7.8

колонка traveltime
value_counts
1.0    242
2.0     96
3.0     22
4.0      7
Name: traveltime, dtype: int64
value_counts в процентах
1.0    66.0
2.0    26.0
3.0     6.0
4.0     2.0
Name: traveltime, dtype: float64 2
пропуски в процентах
7.1

колонка studytime
value_counts
2.0    194
1.0    103
3.0     64
4.0     27
Name: studytime, dtype: int64
value_counts в процентах
2.0    50.0
1.0    27.0
3.0    16.0
4.0     7.0
Name: studytime, dtype: float64 2
пропуски в процентах
1.8

колонка failures
value_counts
0.0    293
1.0     49
2.0     16
3.0     15
Name: failures, dtype: int64
value_counts в процентах
0.0    79.0
1.0    13.0
2.0     4.0
3.0     4.0
Name: failures, dtype: float64 2
пропуски в процентах
5.6

колонка schoolsup
value_counts
no     335
yes     51
Name: schoolsup, dtype: int64
value_counts в процентах
no     87.0
yes    13.0
Name: schoolsup, dtype: float64 2
пропуски в процентах
2.3

колонка famsup
value_counts
yes    219
no     137
Name: famsup, dtype: int64
value_counts в процентах
yes    62.0
no     38.0
Name: famsup, dtype: float64 2
пропуски в процентах
9.9

колонка paid
value_counts
no     200
yes    155
Name: paid, dtype: int64
value_counts в процентах
no     56.0
yes    44.0
Name: paid, dtype: float64 2
пропуски в процентах
10.1

колонка activities
value_counts
yes    195
no     186
Name: activities, dtype: int64
value_counts в процентах
yes    51.0
no     49.0
Name: activities, dtype: float64 2
пропуски в процентах
3.5

колонка nursery
value_counts
yes    300
no      79
Name: nursery, dtype: int64
value_counts в процентах
yes    79.0
no     21.0
Name: nursery, dtype: float64 2
пропуски в процентах
4.1

колонка studytime, granular
value_counts
-6.0     194
-3.0     103
-9.0      64
-12.0     27
Name: studytime, granular, dtype: int64
value_counts в процентах
-6.0     50.0
-3.0     27.0
-9.0     16.0
-12.0     7.0
Name: studytime, granular, dtype: float64 2
пропуски в процентах
1.8

колонка higher
value_counts
yes    356
no      19
Name: higher, dtype: int64
value_counts в процентах
yes    95.0
no      5.0
Name: higher, dtype: float64 2
пропуски в процентах
5.1

колонка internet
value_counts
yes    305
no      56
Name: internet, dtype: int64
value_counts в процентах
yes    84.0
no     16.0
Name: internet, dtype: float64 2
пропуски в процентах
8.6

колонка romantic
value_counts
no     240
yes    124
Name: romantic, dtype: int64
value_counts в процентах
no     66.0
yes    34.0
Name: romantic, dtype: float64 2
пропуски в процентах
7.8

колонка famrel
value_counts
 4.0    182
 5.0     99
 3.0     62
 2.0     17
 1.0      7
-1.0      1
Name: famrel, dtype: int64
value_counts в процентах
 4.0    49.0
 5.0    27.0
 3.0    17.0
 2.0     5.0
 1.0     2.0
-1.0     0.0
Name: famrel, dtype: float64 2
пропуски в процентах
6.8

колонка freetime
value_counts
3.0    153
4.0    112
2.0     63
5.0     38
1.0     18
Name: freetime, dtype: int64
value_counts в процентах
3.0    40.0
4.0    29.0
2.0    16.0
5.0    10.0
1.0     5.0
Name: freetime, dtype: float64 2
пропуски в процентах
2.8

колонка goout
value_counts
3.0    127
2.0    101
4.0     84
5.0     52
1.0     23
Name: goout, dtype: int64
value_counts в процентах
3.0    33.0
2.0    26.0
4.0    22.0
5.0    13.0
1.0     6.0
Name: goout, dtype: float64 2
пропуски в процентах
2.0

колонка health
value_counts
5.0    138
3.0     89
4.0     63
1.0     47
2.0     43
Name: health, dtype: int64
value_counts в процентах
5.0    36.0
3.0    23.0
4.0    17.0
1.0    12.0
2.0    11.0
Name: health, dtype: float64 2
пропуски в процентах
3.8

колонка absences
value_counts
0.0      111
2.0       60
4.0       53
6.0       31
8.0       21
10.0      17
12.0      12
14.0      12
3.0        8
16.0       7
7.0        6
5.0        5
18.0       5
20.0       4
22.0       3
9.0        3
1.0        3
15.0       2
13.0       2
11.0       2
25.0       1
54.0       1
385.0      1
26.0       1
56.0       1
24.0       1
212.0      1
21.0       1
75.0       1
30.0       1
19.0       1
38.0       1
40.0       1
23.0       1
17.0       1
28.0       1
Name: absences, dtype: int64
value_counts в процентах
0.0      29.0
2.0      16.0
4.0      14.0
6.0       8.0
8.0       5.0
10.0      4.0
12.0      3.0
14.0      3.0
3.0       2.0
16.0      2.0
7.0       2.0
5.0       1.0
18.0      1.0
20.0      1.0
22.0      1.0
9.0       1.0
1.0       1.0
15.0      1.0
13.0      1.0
11.0      1.0
25.0      0.0
54.0      0.0
385.0     0.0
26.0      0.0
56.0      0.0
24.0      0.0
212.0     0.0
21.0      0.0
75.0      0.0
30.0      0.0
19.0      0.0
38.0      0.0
40.0      0.0
23.0      0.0
17.0      0.0
28.0      0.0
Name: absences, dtype: float64 2
пропуски в процентах
3.0

колонка score
value_counts
50.0     54
55.0     46
0.0      37
75.0     33
65.0     31
40.0     31
60.0     31
70.0     27
45.0     27
80.0     16
30.0     15
90.0     12
35.0      9
25.0      7
85.0      6
95.0      5
100.0     1
20.0      1
Name: score, dtype: int64
value_counts в процентах
50.0     14.0
55.0     12.0
0.0      10.0
75.0      8.0
65.0      8.0
40.0      8.0
60.0      8.0
70.0      7.0
45.0      7.0
80.0      4.0
30.0      4.0
90.0      3.0
35.0      2.0
25.0      2.0
85.0      2.0
95.0      1.0
100.0     0.0
20.0      0.0
Name: score, dtype: float64 2
пропуски в процентах
1.5

In [13]:
df[df.score == 0]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
128,GP,M,18,R,NaN,T,2.0,2.0,NaN,other,reputation,mother,1.0,1.0,2.0,no,yes,no,yes,yes,-3.0,yes,yes,no,3.0,3.0,3.0,4.0,0.0,0.0
130,GP,F,15,R,GT3,T,3.0,4.0,services,teacher,course,father,2.0,3.0,2.0,no,yes,no,no,yes,-9.0,yes,yes,yes,4.0,2.0,2.0,5.0,0.0,0.0
131,GP,F,15,U,GT3,NaN,1.0,1.0,at_home,other,course,mother,3.0,1.0,0.0,no,yes,no,yes,no,-3.0,yes,yes,yes,4.0,NaN,3.0,4.0,0.0,0.0
134,GP,M,15,R,GT3,T,3.0,4.0,at_home,teacher,course,mother,NaN,2.0,0.0,no,yes,no,no,yes,-6.0,yes,no,yes,5.0,3.0,3.0,5.0,0.0,0.0
135,GP,F,15,U,GT3,T,4.0,4.0,services,NaN,course,mother,1.0,3.0,0.0,no,yes,no,yes,yes,-9.0,yes,yes,yes,4.0,3.0,3.0,5.0,0.0,0.0
136,GP,M,17,R,GT3,T,3.0,4.0,at_home,other,course,mother,3.0,2.0,0.0,no,no,NaN,no,yes,-6.0,yes,no,no,NaN,4.0,5.0,5.0,0.0,0.0
137,GP,F,16,U,GT3,A,3.0,NaN,other,other,NaN,other,NaN,1.0,2.0,no,yes,no,yes,no,-3.0,yes,yes,yes,4.0,3.0,2.0,5.0,0.0,0.0
140,GP,M,15,U,GT3,T,4.0,3.0,teacher,services,NaN,father,2.0,4.0,0.0,yes,yes,no,NaN,yes,-12.0,yes,yes,no,2.0,2.0,2.0,3.0,0.0,0.0
144,GP,M,17,U,GT3,T,2.0,1.0,other,other,home,NaN,1.0,1.0,3.0,no,yes,no,no,yes,-3.0,yes,yes,no,5.0,4.0,5.0,5.0,0.0,0.0
146,GP,F,15,U,GT3,T,3.0,2.0,health,services,home,father,1.0,2.0,3.0,no,NaN,no,no,yes,-6.0,yes,yes,no,3.0,3.0,2.0,3.0,0.0,0.0
148,GP,M,16,U,GT3,T,4.0,4.0,teacher,teacher,course,mother,1.0,1.0,0.0,no,yes,NaN,no,yes,-3.0,no,yes,yes,3.0,3.0,2.0,5.0,0.0,0.0
150,GP,M,18,U,LE3,T,1.0,1.0,other,other,course,mother,1.0,1.0,3.0,no,no,no,no,yes,-3.0,no,yes,yes,2.0,3.0,5.0,4.0,NaN,0.0
153,GP,M,19,U,GT3,NaN,3.0,2.0,services,at_home,home,mother,1.0,1.0,NaN,no,yes,no,no,yes,-3.0,no,yes,yes,4.0,5.0,4.0,NaN,0.0,0.0
160,GP,M,17,R,LE3,T,2.0,1.0,at_home,NaN,course,mother,NaN,1.0,2.0,no,no,no,NaN,yes,-3.0,no,yes,yes,NaN,3.0,2.0,5.0,0.0,0.0
162,GP,M,16,U,LE3,T,1.0,2.0,other,other,course,mother,2.0,1.0,1.0,no,no,no,yes,yes,-3.0,yes,NaN,NaN,4.0,4.0,4.0,5.0,0.0,0.0
168,GP,F,16,NaN,GT3,T,2.0,2.0,other,other,home,mother,1.0,2.0,0.0,no,yes,yes,no,no,-6.0,yes,yes,no,5.0,1.0,5.0,4.0,0.0,0.0
170,GP,M,16,U,GT3,T,3.0,4.0,other,other,course,father,3.0,1.0,NaN,no,yes,no,yes,no,-3.0,NaN,yes,no,3.0,4.0,5.0,2.0,0.0,0.0
173,GP,F,16,U,GT3,T,1.0,3.0,at_home,services,home,NaN,1.0,2.0,3.0,no,no,no,yes,no,-6.0,yes,yes,yes,4.0,3.0,5.0,3.0,0.0,0.0
221,GP,F,17,U,NaN,T,1.0,1.0,at_home,other,reputation,mother,1.0,3.0,1.0,no,yes,no,yes,yes,-9.0,yes,no,yes,4.0,3.0,NaN,5.0,0.0,0.0
239,GP,M,18,U,GT3,NaN,NaN,2.0,other,services,reputation,father,1.0,2.0,1.0,no,no,no,no,yes,-6.0,no,NaN,NaN,5.0,5.0,4.0,2.0,0.0,0.0
242,GP,M,16,U,LE3,T,4.0,3.0,teacher,other,course,mother,1.0,1.0,0.0,no,no,no,yes,no,-3.0,yes,yes,no,5.0,4.0,5.0,3.0,0.0,0.0
259,GP,F,17,U,LE3,T,2.0,NaN,services,services,course,father,1.0,4.0,0.0,no,no,yes,yes,yes,-12.0,yes,NaN,yes,3.0,4.0,1.0,NaN,0.0,0.0
264,GP,F,18,U,GT3,T,2.0,2.0,at_home,services,home,mother,1.0,3.0,0.0,no,yes,yes,yes,yes,-9.0,yes,yes,yes,4.0,3.0,3.0,3.0,0.0,0.0
269,GP,F,18,R,GT3,T,2.0,1.0,other,other,reputation,mother,2.0,2.0,0.0,no,NaN,no,no,yes,-6.0,no,yes,yes,4.0,3.0,5.0,3.0,0.0,0.0
296,GP,F,19,U,GT3,T,4.0,4.0,health,other,reputation,other,2.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,2.0,3.0,4.0,2.0,0.0,0.0
310,GP,F,19,U,LE3,T,1.0,NaN,services,services,home,other,NaN,2.0,1.0,no,no,no,yes,no,-6.0,yes,no,yes,4.0,2.0,4.0,3.0,0.0,0.0
316,GP,F,18,U,GT3,T,2.0,1.0,services,NaN,course,mother,2.0,2.0,0.0,no,yes,yes,yes,yes,-6.0,yes,yes,no,5.0,3.0,3.0,1.0,0.0,0.0
332,GP,F,18,U,GT3,T,3.0,3.0,services,services,home,mother,1.0,2.0,0.0,no,no,no,yes,NaN,-6.0,yes,yes,no,5.0,3.0,4.0,4.0,0.0,0.0
333,GP,F,18,U,LE3,NaN,2.0,2.0,other,other,home,other,1.0,2.0,0.0,no,no,no,yes,no,-6.0,yes,NaN,yes,4.0,3.0,3.0,2.0,0.0,0.0
334,GP,F,18,R,GT3,T,2.0,2.0,at_home,other,course,mother,2.0,4.0,0.0,no,no,no,yes,yes,-12.0,yes,no,no,4.0,4.0,4.0,4.0,0.0,0.0
337,GP,F,17,U,GT3,T,3.0,2.0,NaN,other,home,mother,1.0,2.0,0.0,no,yes,yes,no,yes,-6.0,yes,yes,yes,NaN,3.0,2.0,2.0,0.0,0.0
341,GP,M,18,U,GT3,T,4.0,4.0,teacher,NaN,home,father,1.0,2.0,1.0,no,yes,NaN,yes,NaN,-6.0,yes,yes,no,4.0,3.0,3.0,2.0,0.0,0.0
343,GP,F,17,U,GT3,A,2.0,2.0,at_home,at_home,home,father,1.0,2.0,1.0,no,yes,no,no,yes,-6.0,yes,yes,yes,3.0,3.0,1.0,4.0,0.0,0.0
367,MS,F,17,R,NaN,T,1.0,1.0,other,services,reputation,mother,3.0,1.0,1.0,no,yes,yes,no,yes,-3.0,yes,yes,yes,5.0,2.0,1.0,1.0,0.0,0.0
383,MS,M,19,R,GT3,T,1.0,1.0,other,services,other,mother,2.0,1.0,1.0,no,no,no,no,NaN,-3.0,yes,no,no,4.0,3.0,2.0,5.0,0.0,0.0
387,MS,F,19,R,GT3,T,2.0,3.0,services,other,course,mother,1.0,3.0,1.0,no,no,no,yes,no,-9.0,yes,yes,no,5.0,4.0,2.0,5.0,0.0,0.0
389,MS,F,18,U,GT3,T,1.0,1.0,other,other,course,mother,NaN,2.0,1.0,no,no,no,yes,yes,-6.0,yes,NaN,no,1.0,1.0,1.0,5.0,0.0,0.0

In [14]:
df[df.score == 0].describe()

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,health,absences,score
count,37.000000,36.000000,34.000000,32.000000,37.000000,35.000000,37.000000,34.000000,36.000000,36.000000,35.000000,36.0,37.0
mean,17.054054,2.333333,2.323529,1.500000,1.945946,0.857143,-5.837838,3.823529,3.111111,3.166667,3.657143,0.0,0.0
std,1.311190,1.041976,1.147344,0.718421,0.911225,1.033067,2.733674,1.028992,0.887300,1.341641,1.304807,0.0,0.0
min,15.000000,1.000000,1.000000,1.000000,1.000000,0.000000,-12.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0
25%,16.000000,1.750000,1.000000,1.000000,1.000000,0.000000,-6.000000,3.000000,3.000000,2.000000,3.000000,0.0,0.0
50%,17.000000,2.000000,2.000000,1.000000,2.000000,1.000000,-6.000000,4.000000,3.000000,3.000000,4.000000,0.0,0.0
75%,18.000000,3.000000,3.000000,2.000000,2.000000,1.000000,-3.000000,4.750000,4.000000,4.000000,5.000000,0.0,0.0
max,19.000000,4.000000,4.000000,3.000000,4.000000,3.000000,-3.000000,5.000000,5.000000,5.000000,5.000000,0.0,0.0

у учеников с нулем баллов неплохие остальные данные, а главное - они не имеют пропусков занятий эти ученики либо не явились на экзамен по разным причинам (скорее всего по уважительной причине), либо эти данные не верны и не могут быть использованы в модели их придется удалить вместе с немногочисленными пропусками

In [39]:
# удаляем 0 баллов за экзамен и пропуски в колонке score
df = df[(df['score'] != 0) & (df['score'].notna())]

In [40]:
# удаляем выбросы 385 и 212 из колонки absences
df = df[(df['absences'] != 385) & (df['absences'] != 212)]

In [41]:
# исправляем неверное значение -1 на 1
df[df.famrel == -1] = 1

In [42]:
# исправляем значение 40 на 4
df[df.Fedu == 40] = 4

In [43]:
# удаляем выбросы
for i in ['age', 'absences', 'score']:
    print(i, len(df))
    if (type(df.loc[0, i]) == type(df.score[0])):
        p25, p75, f, l = q(df[i])
        df = df[(df[i] > f) & (df[i] < l)]

age 350
absences 350
25-й перцентиль: 2.0, 75-й перцентиль: 8.0, IQR: 6.0,  Границы выбросов: [-7.0, 17.0].
score 314
25-й перцентиль: 50.0, 75-й перцентиль: 70.0, IQR: 20.0,  Границы выбросов: [20.0, 100.0].

In [44]:
# заменияем пропуски модой
for i in df.columns:
    df[i] = df[i].fillna(df[i].value_counts().index[0])

In [22]:
inf(df)

колонка school
value_counts
GP    273
MS     38
Name: school, dtype: int64
value_counts в процентах
GP    88.0
MS    12.0
Name: school, dtype: float64 2
пропуски в процентах
0.0

колонка sex
value_counts
F    159
M    152
Name: sex, dtype: int64
value_counts в процентах
F    51.0
M    49.0
Name: sex, dtype: float64 2
пропуски в процентах
0.0

колонка age
value_counts
16    85
17    76
15    72
18    64
19    10
20     2
22     1
21     1
Name: age, dtype: int64
value_counts в процентах
16    27.0
17    24.0
15    23.0
18    21.0
19     3.0
20     1.0
22     0.0
21     0.0
Name: age, dtype: float64 2
пропуски в процентах
0.0

колонка address
value_counts
U    246
R     65
Name: address, dtype: int64
value_counts в процентах
U    79.0
R    21.0
Name: address, dtype: float64 2
пропуски в процентах
0.0

колонка famsize
value_counts
GT3    222
LE3     89
Name: famsize, dtype: int64
value_counts в процентах
GT3    71.0
LE3    29.0
Name: famsize, dtype: float64 2
пропуски в процентах
0.0

колонка Pstatus
value_counts
T    283
A     28
Name: Pstatus, dtype: int64
value_counts в процентах
T    91.0
A     9.0
Name: Pstatus, dtype: float64 2
пропуски в процентах
0.0

колонка Medu
value_counts
4.0    114
2.0     76
3.0     76
1.0     42
0.0      3
Name: Medu, dtype: int64
value_counts в процентах
4.0    37.0
2.0    24.0
3.0    24.0
1.0    14.0
0.0     1.0
Name: Medu, dtype: float64 2
пропуски в процентах
0.0

колонка Fedu
value_counts
2.0    104
3.0     77
4.0     69
1.0     59
0.0      2
Name: Fedu, dtype: int64
value_counts в процентах
2.0    33.0
3.0    25.0
4.0    22.0
1.0    19.0
0.0     1.0
Name: Fedu, dtype: float64 2
пропуски в процентах
0.0

колонка Mjob
value_counts
other       116
services     78
teacher      46
at_home      43
health       28
Name: Mjob, dtype: int64
value_counts в процентах
other       37.0
services    25.0
teacher     15.0
at_home     14.0
health       9.0
Name: Mjob, dtype: float64 2
пропуски в процентах
0.0

колонка Fjob
value_counts
other       184
services     78
teacher      22
at_home      14
health       13
Name: Fjob, dtype: int64
value_counts в процентах
other       59.0
services    25.0
teacher      7.0
at_home      5.0
health       4.0
Name: Fjob, dtype: float64 2
пропуски в процентах
0.0

колонка reason
value_counts
course        125
reputation     81
home           75
other          30
Name: reason, dtype: int64
value_counts в процентах
course        40.0
reputation    26.0
home          24.0
other         10.0
Name: reason, dtype: float64 2
пропуски в процентах
0.0

колонка guardian
value_counts
mother    224
father     73
other      14
Name: guardian, dtype: int64
value_counts в процентах
mother    72.0
father    23.0
other      5.0
Name: guardian, dtype: float64 2
пропуски в процентах
0.0

колонка traveltime
value_counts
1.0    214
2.0     76
3.0     14
4.0      7
Name: traveltime, dtype: int64
value_counts в процентах
1.0    69.0
2.0    24.0
3.0     5.0
4.0     2.0
Name: traveltime, dtype: float64 2
пропуски в процентах
0.0

колонка studytime
value_counts
2.0    156
1.0     79
3.0     53
4.0     23
Name: studytime, dtype: int64
value_counts в процентах
2.0    50.0
1.0    25.0
3.0    17.0
4.0     7.0
Name: studytime, dtype: float64 2
пропуски в процентах
0.0

колонка failures
value_counts
0.0    265
1.0     28
3.0     10
2.0      8
Name: failures, dtype: int64
value_counts в процентах
0.0    85.0
1.0     9.0
3.0     3.0
2.0     3.0
Name: failures, dtype: float64 2
пропуски в процентах
0.0

колонка schoolsup
value_counts
no     268
yes     43
Name: schoolsup, dtype: int64
value_counts в процентах
no     86.0
yes    14.0
Name: schoolsup, dtype: float64 2
пропуски в процентах
0.0

колонка famsup
value_counts
yes    202
no     109
Name: famsup, dtype: int64
value_counts в процентах
yes    65.0
no     35.0
Name: famsup, dtype: float64 2
пропуски в процентах
0.0

колонка paid
value_counts
no     183
yes    128
Name: paid, dtype: int64
value_counts в процентах
no     59.0
yes    41.0
Name: paid, dtype: float64 2
пропуски в процентах
0.0

колонка activities
value_counts
yes    167
no     144
Name: activities, dtype: int64
value_counts в процентах
yes    54.0
no     46.0
Name: activities, dtype: float64 2
пропуски в процентах
0.0

колонка nursery
value_counts
yes    252
no      59
Name: nursery, dtype: int64
value_counts в процентах
yes    81.0
no     19.0
Name: nursery, dtype: float64 2
пропуски в процентах
0.0

колонка studytime, granular
value_counts
-6.0     156
-3.0      79
-9.0      53
-12.0     23
Name: studytime, granular, dtype: int64
value_counts в процентах
-6.0     50.0
-3.0     25.0
-9.0     17.0
-12.0     7.0
Name: studytime, granular, dtype: float64 2
пропуски в процентах
0.0

колонка higher
value_counts
yes    301
no      10
Name: higher, dtype: int64
value_counts в процентах
yes    97.0
no      3.0
Name: higher, dtype: float64 2
пропуски в процентах
0.0

колонка internet
value_counts
yes    264
no      47
Name: internet, dtype: int64
value_counts в процентах
yes    85.0
no     15.0
Name: internet, dtype: float64 2
пропуски в процентах
0.0

колонка romantic
value_counts
no     222
yes     89
Name: romantic, dtype: int64
value_counts в процентах
no     71.0
yes    29.0
Name: romantic, dtype: float64 2
пропуски в процентах
0.0

колонка famrel
value_counts
4.0    163
5.0     82
3.0     47
2.0     13
1.0      6
Name: famrel, dtype: int64
value_counts в процентах
4.0    52.0
5.0    26.0
3.0    15.0
2.0     4.0
1.0     2.0
Name: famrel, dtype: float64 2
пропуски в процентах
0.0

колонка freetime
value_counts
3.0    128
4.0     91
2.0     49
5.0     31
1.0     12
Name: freetime, dtype: int64
value_counts в процентах
3.0    41.0
4.0    29.0
2.0    16.0
5.0    10.0
1.0     4.0
Name: freetime, dtype: float64 2
пропуски в процентах
0.0

колонка goout
value_counts
3.0    114
2.0     80
4.0     62
5.0     39
1.0     16
Name: goout, dtype: int64
value_counts в процентах
3.0    37.0
2.0    26.0
4.0    20.0
5.0    13.0
1.0     5.0
Name: goout, dtype: float64 2
пропуски в процентах
0.0

колонка health
value_counts
5.0    123
3.0     71
4.0     48
1.0     38
2.0     31
Name: health, dtype: int64
value_counts в процентах
5.0    40.0
3.0    23.0
4.0    15.0
1.0    12.0
2.0    10.0
Name: health, dtype: float64 2
пропуски в процентах
0.0

колонка absences
value_counts
0.0     74
2.0     60
4.0     50
6.0     30
8.0     20
10.0    17
12.0    12
14.0    11
16.0     7
3.0      7
7.0      6
5.0      5
9.0      3
1.0      3
13.0     2
15.0     2
11.0     2
Name: absences, dtype: int64
value_counts в процентах
0.0     24.0
2.0     19.0
4.0     16.0
6.0     10.0
8.0      6.0
10.0     5.0
12.0     4.0
14.0     4.0
16.0     2.0
3.0      2.0
7.0      2.0
5.0      2.0
9.0      1.0
1.0      1.0
13.0     1.0
15.0     1.0
11.0     1.0
Name: absences, dtype: float64 2
пропуски в процентах
0.0

колонка score
value_counts
50.0    50
55.0    42
75.0    31
65.0    27
60.0    27
70.0    27
40.0    24
45.0    23
80.0    16
30.0    12
90.0     9
35.0     8
25.0     7
95.0     5
85.0     3
Name: score, dtype: int64
value_counts в процентах
50.0    16.0
55.0    14.0
75.0    10.0
65.0     9.0
60.0     9.0
70.0     9.0
40.0     8.0
45.0     7.0
80.0     5.0
30.0     4.0
90.0     3.0
35.0     3.0
25.0     2.0
95.0     2.0
85.0     1.0
Name: score, dtype: float64 2
пропуски в процентах
0.0

In [45]:
df.corr()

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,health,absences,score
age,1.000000,-0.141103,-0.128566,0.099415,0.013312,0.213574,-0.013312,0.063161,0.014521,0.138676,-0.027352,0.197038,-0.138685
Medu,-0.141103,1.000000,0.577145,-0.171163,0.071038,-0.210470,-0.071038,-0.015470,0.027662,0.037986,-0.064615,0.096044,0.169272
Fedu,-0.128566,0.577145,1.000000,-0.138991,-0.035228,-0.290585,0.035228,-0.023173,0.002836,0.000894,-0.033510,-0.007587,0.115087
traveltime,0.099415,-0.171163,-0.138991,1.000000,-0.106032,0.102987,0.106032,-0.040049,0.023592,0.038340,-0.003904,-0.040209,-0.081526
studytime,0.013312,0.071038,-0.035228,-0.106032,1.000000,-0.144187,-1.000000,0.037520,-0.130101,-0.009898,-0.073289,-0.045653,0.121042
failures,0.213574,-0.210470,-0.290585,0.102987,-0.144187,1.000000,0.144187,0.023493,0.132187,0.106977,0.072121,0.168896,-0.280758
"studytime, granular",-0.013312,-0.071038,0.035228,0.106032,-1.000000,0.144187,1.000000,-0.037520,0.130101,0.009898,0.073289,0.045653,-0.121042
famrel,0.063161,-0.015470,-0.023173,-0.040049,0.037520,0.023493,-0.037520,1.000000,0.161786,0.037214,0.125235,-0.084475,0.060484
freetime,0.014521,0.027662,0.002836,0.023592,-0.130101,0.132187,0.130101,0.161786,1.000000,0.283618,0.061394,0.077469,-0.004850
goout,0.138676,0.037986,0.000894,0.038340,-0.009898,0.106977,0.009898,0.037214,0.283618,1.000000,0.025964,0.170730,-0.195735
health,-0.027352,-0.064615,-0.033510,-0.003904,-0.073289,0.072121,0.073289,0.125235,0.061394,0.025964,1.000000,-0.027098,-0.060788
absences,0.197038,0.096044,-0.007587,-0.040209,-0.045653,0.168896,0.045653,-0.084475,0.077469,0.170730,-0.027098,1.000000,-0.223637
score,-0.138685,0.169272,0.115087,-0.081526,0.121042,-0.280758,-0.121042,0.060484,-0.004850,-0.195735,-0.060788,-0.223637,1.000000

все числовые переменные слабо коррелированные
колонки studytime и studytime, granular полностью скоррелированы, studytime, granular можно удалить из модели

In [24]:
for col in ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 
           'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']:
    get_stat_dif(col)

Найдены статистически значимые различия для колонки sex
Найдены статистически значимые различия для колонки address
Найдены статистически значимые различия для колонки schoolsup

In [51]:
df_for_model = df[['age', 'failures', 'absences', 'sex', 'address', 'schoolsup', 'Medu', 'studytime', 'goout', 'Fedu',
                  'famrel', 'freetime', 'health', 'traveltime']]

In [52]:
df_for_model

,age,failures,absences,sex,address,schoolsup,Medu,studytime,goout,Fedu,famrel,freetime,health,traveltime
0,18,0.0,6.0,F,U,yes,4.0,2.0,4.0,4.0,4.0,3.0,3.0,2.0
1,17,0.0,4.0,F,U,no,1.0,2.0,3.0,1.0,5.0,3.0,3.0,1.0
2,15,3.0,10.0,F,U,yes,1.0,2.0,2.0,1.0,4.0,3.0,3.0,1.0
3,15,0.0,2.0,F,U,no,4.0,3.0,2.0,2.0,3.0,2.0,5.0,1.0
4,16,0.0,4.0,F,U,no,3.0,2.0,2.0,3.0,4.0,3.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,18,0.0,0.0,F,U,no,3.0,2.0,4.0,1.0,4.0,3.0,1.0,1.0
391,17,0.0,3.0,M,U,no,3.0,1.0,5.0,1.0,2.0,4.0,2.0,2.0
392,21,3.0,3.0,M,R,no,1.0,1.0,3.0,1.0,5.0,5.0,3.0,1.0
393,18,0.0,0.0,M,R,no,3.0,1.0,1.0,2.0,4.0,4.0,5.0,3.0
394,19,0.0,5.0,M,U,no,1.0,1.0,3.0,1.0,3.0,2.0,5.0,1.0

Вариант 2

In [25]:
df = pd.read_csv('g:\SkillFactory\EDA\stud_math.csv')

In [26]:
# удаляем 0 баллов за экзамен и пропуски в колонке score
df = df[(df['score'] != 0) & (df['score'].notna())]

In [27]:
# удаляем выбросы 385 и 212 из колонки absences
df = df[(df['absences'] != 385) & (df['absences'] != 212)]

In [28]:
# исправляем неверное значение -1 на 1
df[df.famrel == -1] = 1

In [29]:
df[df.Fedu == 40] = 4

In [31]:
# удаляем выбросы
for i in ['age', 'absences', 'score']:
    print(i, len(df))
    if (type(df.loc[0, i]) == type(df.score[0])):
        p25, p75, f, l = q(df[i])
        df = df[(df[i] > f) & (df[i] < l)]

age 350
absences 350
25-й перцентиль: 2.0, 75-й перцентиль: 8.0, IQR: 6.0,  Границы выбросов: [-7.0, 17.0].
score 314
25-й перцентиль: 50.0, 75-й перцентиль: 70.0, IQR: 20.0,  Границы выбросов: [20.0, 100.0].

In [33]:
# преобразуем категориальные столбцы, выраженные числами, в строки
for i in ['Medu', 'Fedu', 'traveltime', 'studytime', 'famrel', 'freetime', 'goout', 'health']:
    df[i] = df[i].astype(str)

In [34]:
# заменияем пропуски модой в категориальных столбцах
for i in ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 
           'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic',
          'Medu', 'Fedu', 'traveltime', 'studytime', 'famrel', 'freetime', 'goout', 'health']:
    df[i] = df[i].fillna(df[i].value_counts().index[0])

In [35]:
# заменяем пропуски в числовых столбцах медианой
for i in ['age', 'absences', 'score']:
    df[i] = df[i].fillna(df[i].median())

In [36]:
df.corr()

,age,failures,"studytime, granular",absences,score
age,1.000000,0.208326,-0.013460,0.197038,-0.138685
failures,0.208326,1.000000,0.151397,0.167755,-0.282308
"studytime, granular",-0.013460,0.151397,1.000000,0.045640,-0.122529
absences,0.197038,0.167755,0.045640,1.000000,-0.223637
score,-0.138685,-0.282308,-0.122529,-0.223637,1.000000

все переменные слабо скоррелированы
studytime, granular является клоном studytime и может быть удалена из модели

In [37]:
for col in ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 
           'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic',
          'Medu', 'Fedu', 'traveltime', 'studytime', 'famrel', 'freetime', 'goout', 'health']:
    get_stat_dif(col)

Найдены статистически значимые различия для колонки sex
Найдены статистически значимые различия для колонки address
Найдены статистически значимые различия для колонки schoolsup
Найдены статистически значимые различия для колонки Medu
Найдены статистически значимые различия для колонки studytime
Найдены статистически значимые различия для колонки goout

In [47]:
df_for_model = df[['age', 'failures', 'absences', 'sex', 'address', 'schoolsup', 'Medu', 'studytime', 'goout']]

In [48]:
df_for_model

     age  failures  absences sex address schoolsup  Medu  studytime  goout
0     18       0.0       6.0   F       U       yes   4.0        2.0    4.0
1     17       0.0       4.0   F       U        no   1.0        2.0    3.0
2     15       3.0      10.0   F       U       yes   1.0        2.0    2.0
3     15       0.0       2.0   F       U        no   4.0        3.0    2.0
4     16       0.0       4.0   F       U        no   3.0        2.0    2.0
..   ...       ...       ...  ..     ...       ...   ...        ...    ...
388   18       0.0       0.0   F       U        no   3.0        2.0    4.0
391   17       0.0       3.0   M       U        no   3.0        1.0    5.0
392   21       3.0       3.0   M       R        no   1.0        1.0    3.0
393   18       0.0       0.0   M       R        no   3.0        1.0    1.0
394   19       0.0       5.0   M       U        no   1.0        1.0    3.0

[311 rows x 9 columns]